includes:
	#- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
	excludes_analyse:
		- tests/entity/Question.php
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- '#Parameter \#1 \$reader of class Doctrine\\ORM\\Mapping\\Driver\\AnnotationDriver#'
