<?php

return [
    'database' => [
        'driver'   => 'mysqli',
        'user'     => 'root', // user
        'password' => '', // password
        'dbname'   => 'openstore_dev',
        'charset'  => 'UTF8',
        //'charset' => 'utf8mb4'
    ],
    'paths' => [
        realpath(__DIR__ . "/../vendor/openstore/schema-core/src/OpenstoreSchema/Core/Entity"),
        //realpath(__DIR__ . "/../src/Openstore/Schema/Core/Entity")
    ],
    'namespace' => 'Openstore\Schema\Core\Entity',
    'env' => 'development',
    'proxy_path' => sys_get_temp_dir()
];

